<a href="https://colab.research.google.com/github/quantumseminar/textbook/blob/main/00python/python3_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## リスト
リストは順番を持つ配列となっています。カギカッコの中にカンマで区切って入れます。

In [ ]:
num = [0,1,2,3,4,5]
print(num)

[0, 1, 2, 3, 4, 5]

リストには文字列を入れることもできます。

In [ ]:
youbi = ["月", "火", "水", "木", "金", "土", "日"]
print(youbi)

['月', '火', '水', '木', '金', '土', '日']

二次元配列と言って、配列の中に配列を入れることもできます。

In [ ]:
qubo = [[1,2,3],[4,5,6],[7,8,9]]
print(qubo)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## リストの取り出し
リスト内部の要素を取り出すには、0から始まる順番を前から指定します。

In [ ]:
num[0]

0

0番目の最初の要素が取り出されました。

In [ ]:
num[1]

1

他のリストでもやってみます。

In [ ]:
youbi[3]

'木'

マイナスを入れると後ろから数えて取り出せます。

In [ ]:
num[-1]

5

In [ ]:
youbi[-2]

'土'

## リストのスライス記号
スライス記号を使うことで、特定の範囲を指定できます。下記のように0:2のように感までつなげると0-1番目の値が取り出されます。

In [ ]:
num[0:2]

[0, 1]

スライス記号の片方の数字を省略することもできます。

In [ ]:
num[:3]

[0, 1, 2]

In [ ]:
num[1:]

[1, 2, 3, 4, 5]

逆側からも実行できます。

In [ ]:
num[-2:]

[4, 5]

## リストの置換・追加
リストの要素を入れ替えるには、順番を指定して入れ替えることができます。
numのリストの最初の要素を0から6にしてみます。

In [ ]:
num[0] = 6
print(num)

[6, 1, 2, 3, 4, 5]

0が6に上書きされました。リストの最後に要素を追加するには.appendを利用します。

In [ ]:
num.append(7)
print(num)

[6, 1, 2, 3, 4, 5, 7]

## リストの関数
よく利用する関数をまとめます。

len()はリストの要素の数（長さ）を数えます。

In [ ]:
len(num)

7

sorted()はリストを並べ替えます。

In [ ]:
sorted(num)

[1, 2, 3, 4, 5, 6, 7]

元のリストnumは変化していません。

In [ ]:
num

[6, 1, 2, 3, 4, 5, 7]

sumでリスト内部の要素の合計を求めます。

In [ ]:
sum(num)

28

maxでリスト内部の最大の要素を探します。

In [ ]:
max(num)

7

## リスト同士の結合
リスト同士をつなげることもできます。今回は+記号を使って結合します。

In [ ]:
num1 = [0,1,2]
num2 = [3,4,5]

print(num1 + num2)

[0, 1, 2, 3, 4, 5]

## タプル
リストに似ていますが、要素の追加や変更ができないタプルというのがあります。丸括弧で指定します。

In [ ]:
t = (1,2,3)
print(t)

(1, 2, 3)

要素の取り出しはリストと同じです。

In [ ]:
print(t[0])

1

ただし、要素の入れ替えなどができません。

In [ ]:
t[0] = 4

TypeError: ignored

## 辞書
リストやタプル以外に辞書があります。辞書はkey（キー）とvalue（バリュー）という二つの値を使ってデータを扱います。中括弧のなかに、keyとvalueをセットにして、カンマで繋ぎます。

In [ ]:
nums = {'one':1, 'two':2, 'three':3}
print(nums)

{'one': 1, 'two': 2, 'three': 3}

値を取り出すときは、keyを指定します。

In [ ]:
print(nums['one'])

1

値を置き換える場合には、keyを指定してvalueを変更します。

In [ ]:
nums['two'] = 7
print(nums)

{'one': 1, 'two': 7, 'three': 3}

要素の追加もkeyとvalueを指定すれば可能です。

In [ ]:
nums['four'] = 4
print(nums)

{'one': 1, 'two': 7, 'three': 3, 'four': 4}

今回はデータの扱い方を3種類確認しました。